In [3]:
def square_and_multiply(a, b, n):
    z = 1
    a = a % n  # Reduce a modulo n initially
    #print(f"Initial a: {a}, b: {b}, n: {n}")
    
    # Go through each bit of b from left to right
    for i in range(b.bit_length() - 1, -1, -1):
        current_bit = (b >> i) & 1  # Get the current bit of b
#         print(f"Processing bit {i}: {current_bit}")
        oriz = z
        if current_bit == 0:   
            
            z = (z * z) % n  # Square z
            print(f"{oriz}^2 mod {n} = {z}")
        
        else:  # If the current bit of b is 1
            z = (z* z * a) % n  # Multiply by a
            print(f"{oriz}^2 * {a} mod {n} = {z}")
    
    return z

# Example usage
a = 33
b = 9
n = 38
result = square_and_multiply(a, b, n)
print(f"The result of {a}^{b} mod {n} is: {result}\n")

1^2 * 33 mod 38 = 33
33^2 mod 38 = 25
25^2 mod 38 = 17
17^2 * 33 mod 38 = 37
The result of 33^9 mod 38 is: 37

In [120]:
38*30%53

27

In [2]:
def extended_euclidean(a, n):
    # Initialize values
    r1, r2 = n, a
    t1, t2 = 1, 0  # t now holds the values previously held by s
    s1, s2 = 0, 1  # s now holds the values previously held by t

    # Print the initial header
    print(f"{'t':<5} | {'s':<5} | {'r':<5} | {'q':<5}")
    print(f"{t1:<5} | {s1:<5} | {r1:<5}")
    print(f"{t2:<5} | {s2:<5} | {r2:<5}")
    
    while r2 != 0:
        q = r1 // r2  # Quotient
        r = r1 - q * r2  # Remainder
        r1, r2 = r2, r
        t = t1 - q * t2
        t1, t2 = t2, t
        s = s1 - q * s2
        s1, s2 = s2, s

        # Print s, t, r, q in the required format
        print(f"{t:<5} | {s:<5} | {r:<5} | {q:<5}")

    # At the end of the loop, r1 is the gcd and s1 is the modular inverse if r1 == 1
    if r1 == 1:
        return s1 % n  # Ensure the inverse is positive
    else:
        return None  # Inverse doesn't exist if gcd(a, n) != 1

# Test case
a = 35
n = 113
inverse = extended_euclidean(a, n)

if inverse is not None:
    print(f"The modular inverse of {a} mod {n} is: {inverse}")
else:
    print(f"No modular inverse exists for {a} mod {n}")

t     | s     | r     | q
1     | 0     | 113
0     | 1     | 35
1     | -3    | 8     | 3
-4    | 13    | 3     | 4
9     | -29   | 2     | 2
-13   | 42    | 1     | 1
35    | -113  | 0     | 2
The modular inverse of 35 mod 113 is: 42

In [62]:
def square_and_multiply(base, exponent, modulus):
    result = 1
    base = base % modulus
    
    while exponent > 0:
        if (exponent % 2) == 1:  # If exponent is odd
            result = (result * base) % modulus
        exponent = exponent >> 1  # Divide exponent by 2
        base = (base * base) % modulus  # Square the base
    
    return result

# Order and prime factors
m = 18
p_factors = [2, 3]

# Candidates for generators in Z*38
candidates = [3, 5, 7, 9, 11, 13, 15, 17, 21, 23, 25, 27, 29, 31, 33, 35, 37]

# List to store generators
generators = []

# Check each candidate
for g in candidates:
    g_9 = square_and_multiply(g, m // 2, 38)  # g^(18/2) mod 38
    g_6 = square_and_multiply(g, m // 3, 38)  # g^(18/3) mod 38
    print(f"g = {g}: g^9 mod 38 = {g_9}, g^6 mod 38 = {g_6}")
    
    # Check conditions
    if g_9 != 1 and g_6 != 1:
        generators.append(g)

generators

g = 3: g^9 mod 38 = 37, g^6 mod 38 = 7
g = 5: g^9 mod 38 = 1, g^6 mod 38 = 7
g = 7: g^9 mod 38 = 1, g^6 mod 38 = 1
g = 9: g^9 mod 38 = 1, g^6 mod 38 = 11
g = 11: g^9 mod 38 = 1, g^6 mod 38 = 1
g = 13: g^9 mod 38 = 37, g^6 mod 38 = 11
g = 15: g^9 mod 38 = 37, g^6 mod 38 = 11
g = 17: g^9 mod 38 = 1, g^6 mod 38 = 7
g = 21: g^9 mod 38 = 37, g^6 mod 38 = 7
g = 23: g^9 mod 38 = 1, g^6 mod 38 = 11
g = 25: g^9 mod 38 = 1, g^6 mod 38 = 11
g = 27: g^9 mod 38 = 37, g^6 mod 38 = 1
g = 29: g^9 mod 38 = 37, g^6 mod 38 = 11
g = 31: g^9 mod 38 = 37, g^6 mod 38 = 1
g = 33: g^9 mod 38 = 37, g^6 mod 38 = 7
g = 35: g^9 mod 38 = 1, g^6 mod 38 = 7
g = 37: g^9 mod 38 = 37, g^6 mod 38 = 1

[3, 13, 15, 21, 29, 33]

In [63]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

def z_star_n(n):
    # Generate the multiplicative group Z*_n
    return [i for i in range(1, n) if gcd(i, n) == 1]

def generate_subgroup(generator, order, modulus):
    subgroup = []
    current = 1  # g^0 = 1
    for i in range(order):
        subgroup.append(current)
        current = (current * generator) % modulus
    return subgroup

def find_subgroups(z_star_elements, modulus):
    subgroups = {}
    for element in z_star_elements:
        order = 1
        current = element
        while current != 1:  # Keep multiplying until we get back to the identity element
            current = (current * element) % modulus
            order += 1
        if order not in subgroups:  # Store unique subgroups by their orders
            subgroups[order] = generate_subgroup(element, order, modulus)
    return subgroups

# Main code
n = 38
z_star_elements = z_star_n(n)  # Get elements of Z*38
print(f"Elements of Z*{n}: {z_star_elements}")

subgroups = find_subgroups(z_star_elements, n)

# Display the subgroups
for order, subgroup in subgroups.items():
    print(f"Subgroup of order {order}: {subgroup}")

Elements of Z*38: [1, 3, 5, 7, 9, 11, 13, 15, 17, 21, 23, 25, 27, 29, 31, 33, 35, 37]
Subgroup of order 1: [1]
Subgroup of order 18: [1, 3, 9, 27, 5, 15, 7, 21, 25, 37, 35, 29, 11, 33, 23, 31, 17, 13]
Subgroup of order 9: [1, 5, 25, 11, 17, 9, 7, 35, 23]
Subgroup of order 3: [1, 7, 11]
Subgroup of order 6: [1, 27, 7, 37, 11, 31]
Subgroup of order 2: [1, 37]

In [107]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

def z_star_n(n):
    # Generate the multiplicative group Z*_n
    return [i for i in range(1, n) if gcd(i, n) == 1]

def generate_subgroup(generator, modulus):
    subgroup = []
    current = 1  # g^0 = 1
    subgroup.append(current)
    
    while True:
        current = (current * generator) % modulus
        if current in subgroup:
            break  # Stop if we return to the identity element
        subgroup.append(current)
    
    return subgroup

def find_subgroups(z_star_elements, modulus):
    subgroups = {}
    for element in z_star_elements:
        if element not in subgroups:  # Only compute if the element is not already included
            subgroup = generate_subgroup(element, modulus)
            subgroups[element] = subgroup
    return subgroups

# Main code
n = 38
z_star_elements = z_star_n(n)  # Get elements of Z*38
print(f"Elements of Z*{n}: {z_star_elements}\n")

subgroups = find_subgroups(z_star_elements, n)

# Display the subgroups generated by each element
for generator, subgroup in subgroups.items():
    print(f"Subgroup generated by {generator}: {subgroup}")

Elements of Z*38: [1, 3, 5, 7, 9, 11, 13, 15, 17, 21, 23, 25, 27, 29, 31, 33, 35, 37]

Subgroup generated by 1: [1]
Subgroup generated by 3: [1, 3, 9, 27, 5, 15, 7, 21, 25, 37, 35, 29, 11, 33, 23, 31, 17, 13]
Subgroup generated by 5: [1, 5, 25, 11, 17, 9, 7, 35, 23]
Subgroup generated by 7: [1, 7, 11]
Subgroup generated by 9: [1, 9, 5, 7, 25, 35, 11, 23, 17]
Subgroup generated by 11: [1, 11, 7]
Subgroup generated by 13: [1, 13, 17, 31, 23, 33, 11, 29, 35, 37, 25, 21, 7, 15, 5, 27, 9, 3]
Subgroup generated by 15: [1, 15, 35, 31, 9, 21, 11, 13, 5, 37, 23, 3, 7, 29, 17, 27, 25, 33]
Subgroup generated by 17: [1, 17, 23, 11, 35, 25, 7, 5, 9]
Subgroup generated by 21: [1, 21, 23, 27, 35, 13, 7, 33, 9, 37, 17, 15, 11, 3, 25, 31, 5, 29]
Subgroup generated by 23: [1, 23, 35, 7, 9, 17, 11, 25, 5]
Subgroup generated by 25: [1, 25, 17, 7, 23, 5, 11, 9, 35]
Subgroup generated by 27: [1, 27, 7, 37, 11, 31]
Subgroup generated by 29: [1, 29, 5, 31, 25, 3, 11, 15, 17, 37, 9, 33, 7, 13, 35, 27, 23, 21]
Subgroup generated by 31: [1, 31, 11, 37, 7, 27]
Subgroup generated by 33: [1, 33, 25, 27, 17, 29, 7, 3, 23, 37, 5, 13, 11, 21, 9, 31, 35, 15]
Subgroup generated by 35: [1, 35, 9, 11, 5, 23, 7, 17, 25]
Subgroup generated by 37: [1, 37]

In [110]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

def z_star_n(n):
    # Generate the multiplicative group Z*_n
    return [i for i in range(1, n) if gcd(i, n) == 1]

def quadratic_residues(modulus):
    z_star_elements = z_star_n(modulus)  # Get elements of Z*_modulus
    residues = set()  # Set to store unique quadratic residues

    for x in z_star_elements:
        residue = (x * x) % modulus  # Calculate x^2 mod modulus
        print(f'{residue}:{x}')
        residues.add(residue)

    return sorted(residues)

# Main code
n = 38
qr_38 = quadratic_residues(n)
print(f"Quadratic Residues modulo {n}: {qr_38}")

1:1
9:3
25:5
11:7
5:9
7:11
17:13
35:15
23:17
23:21
35:23
17:25
7:27
5:29
11:31
25:33
9:35
1:37
Quadratic Residues modulo 38: [1, 5, 7, 9, 11, 17, 23, 25, 35]

In [112]:
(53-1)/2

26.0

In [113]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

def z_star_n(n):
    # Generate the multiplicative group Z*_n
    return [i for i in range(1, n) if gcd(i, n) == 1]

def quadratic_residues(modulus):
    z_star_elements = z_star_n(modulus)  # Get elements of Z*_modulus
    residues = set()  # Set to store unique quadratic residues

    for x in z_star_elements:
        residue = (x * x) % modulus  # Calculate x^2 mod modulus
        residues.add(residue)

    return residues

def find_quadratic_non_residue(modulus):
    z_star_elements = z_star_n(modulus)
    qr = quadratic_residues(modulus)

    # Find first element that is not a quadratic residue
    for element in z_star_elements:
        if element not in qr:
            return element

# Main code
n = 53
qnr_53 = find_quadratic_non_residue(n)
print(f"Quadratic Non-Residue modulo {n}: {qnr_53}")

Quadratic Non-Residue modulo 53: 2

In [157]:
import random

def gcd(a, b):
    # Function to compute the greatest common divisor
    while b:
        a, b = b, a % b
    return a

def mod_exp(base, exp, mod):
    # Function to compute (base^exp) % mod using square and multiply
    result = 1
    base = base % mod
    while exp > 0:
        if (exp % 2) == 1:
            result = (result * base) % mod
        exp = exp >> 1
        base = (base * base) % mod
    return result

def find_qnr(p):
    # Find a quadratic non-residue (QNR) modulo p
    flag=0
    for b in range(2, p):
        if mod_exp(b, (p - 1) // 2, p) == p - 1:  # This checks if b is a QNR
            if flag==3:
                return b
            flag+=1
    return None

def compute_sqrt_mod_p(a, p):
    if mod_exp(a, (p - 1) // 2, p) != 1:
        raise ValueError("a is not a quadratic residue modulo p")

    # Decompose p-1 = r * 2^L
    L = 0
    r = (p - 1) // 2
    while r % 2 == 0:
        r //= 2
        L += 1
    print(f'r={r},L={L}')
    # Find a quadratic non-residue b modulo p
    b = find_qnr(p)
    print(f'b={b}')
    if b is None:
        raise ValueError("Could not find a quadratic non-residue mod p")

    # Step 1: Initial computation
    y = mod_exp(a, r*(2**L), p)  # ar
    print(f'y={y}')
    tmp=1;
    s= int(0)
    updates=(p-1)/2
    # Step 2: Iterate over powers of L
    for i in range(L - 1, -1, -1):
        z = mod_exp(a, r*(2**(i)), p)
        s=int(s//2)
        if(z==p-1):
            z=-1
            s+=updates
        print(f'z={z}')
        print(f's={s}')
    # Final square root computation
    ans1 =  mod_exp(a, (r+1)//2, p)
    ans2 = mod_exp(b, int(s)//2, p)
    ans = ans1*ans2 % p
    return ans

# Test case:
p = 53  # Prime number congruent to 1 mod 4
a = 40  # Element in QRp (Quadratic Residue)

sqrt_a = compute_sqrt_mod_p(a, p)
print(f"The square root of {a} mod {p} is: {sqrt_a}")

r=13,L=1
b=8
y=1
z=-1
s=26.0
The square root of 40 mod 53 is: 26

In [209]:
import pandas as pd
import math

In [4]:
def square_and_multiply(a, b, n):
    z = 1
    a = a % n 

    for i in range(b.bit_length() - 1, -1, -1):
        current_bit = (b >> i) & 1  
        if current_bit == 0:              
            z = (z * z) % n          
        else:  
            z = (z* z * a) % n    
        print(f"{current_bit:<12} | {z:<10}")
    return z

In [218]:
def Z_n_star(n):
    Z_n=[]
    for i in range (1,n):
        if math.gcd(i,n)==1:
            Z_n.append(i)
    return Z_n

In [219]:
Z_39 = Z_n_star(39)
B_39 = []
results = []

for a in Z_39:
    Jac_3 = square_and_multiply(a, 1, 3)
    if Jac_3 == 3 - 1:
        Jac_3 = -1

    Jac_13 = square_and_multiply(a, 6, 13)
    if Jac_13 == 13 - 1:
        Jac_13 = -1

    Jac_39 = Jac_3 * Jac_13

    Com_39 = square_and_multiply(a, 19, 39)
    if Com_39 == 39 - 1:
        Com_39 = -1

    if Jac_39 == Com_39:
        B_39.append(a)
        
    results.append({'a': a, 'J(a, 39)': Jac_39, 'a^19 mod 39': Com_39})

df = pd.DataFrame(results)
display(df)
print(B_39)

     a  J(a, 39)  a^19 mod 39
0    1         1            1
1    2         1           11
2    4         1            4
3    5         1            8
4    7        -1           19
5    8         1            5
6   10         1           10
7   11         1            2
8   14        -1           14
9   16         1           16
10  17        -1           17
11  19        -1            7
12  20         1           32
13  22         1           22
14  23        -1           23
15  25         1           25
16  28        -1           37
17  29        -1           29
18  31        -1           34
19  32         1           20
20  34        -1           31
21  35        -1           35
22  37        -1           28
23  38        -1           -1

[1, 38]

In [254]:
Z_39 = Z_n_star(39)
B_39 = []
results = []

for a in Z_39:
    Com_38 = square_and_multiply(a, 38, 39)

    Com_19 = square_and_multiply(a, 19, 39)
        
    results.append({'a': a, 'e1': Com_38, 'e2': Com_19})

df = pd.DataFrame(results)
display(df)
#print(B_39)

     a  e1  e2
0    1   1   1
1    2   4  11
2    4  16   4
3    5  25   8
4    7  10  19
5    8  25   5
6   10  22  10
7   11   4   2
8   14   1  14
9   16  22  16
10  17  16  17
11  19  10   7
12  20  10  32
13  22  16  22
14  23  22  23
15  25   1  25
16  28   4  37
17  29  22  29
18  31  25  34
19  32  10  20
20  34  25  31
21  35  16  35
22  37   4  28
23  38   1  38

In [221]:
Z_39 = Z_n_star(65)
B_39 = []
results = []           
for a in Z_39:
    Jac_3 = square_and_multiply(a, 2, 5)
    if Jac_3 == 5-1:
        Jac_3 = -1
        
    Jac_13 = square_and_multiply(a, 6, 13)
    if Jac_13 == 13-1:
        Jac_13 = -1
        
    Jac_39 = Jac_3*Jac_13
    
    Com_39 = square_and_multiply(a, 32, 65)
    if Com_39 == 65-1:
        Com_39 = -1
    
    if Jac_39 == Com_39:
            B_39.append(a)
    results.append({'a': a, 'J(a, 65)': Jac_39, 'a^32 mod 65': Com_39})
print(B_39)    
df = pd.DataFrame(results)
display(df)
print(B_39)

[1, 8, 14, 18, 47, 51, 57, 64]

     a  J(a, 65)  a^32 mod 65
0    1         1            1
1    2         1           61
2    3        -1           61
3    4         1           16
4    6        -1           16
5    7         1           16
6    8         1            1
7    9         1           16
8   11        -1           61
9   12        -1            1
10  14         1            1
11  16         1           61
12  17        -1           16
13  18         1            1
14  19        -1           16
15  21        -1            1
16  22        -1           16
17  23        -1           61
18  24        -1           61
19  27        -1            1
20  28         1           61
21  29         1           61
22  31        -1            1
23  32         1           16
24  33         1           16
25  34        -1            1
26  36         1           61
27  37         1           61
28  38        -1            1
29  41        -1           61
30  42        -1           61
31  43        -1           16
32  44        -1            1
33  46        -1           16
34  47         1            1
35  48        -1           16
36  49         1           61
37  51         1            1
38  53        -1            1
39  54        -1           61
40  56         1           16
41  57         1            1
42  58         1           16
43  59        -1           16
44  61         1           16
45  62        -1           61
46  63         1           61
47  64         1            1

[1, 8, 14, 18, 47, 51, 57, 64]

In [253]:
import pandas as pd
import math

def square_and_multiply(base, exponent, modulus):
    """Efficiently compute base^exponent % modulus using square-and-multiply method."""
    result = 1
    base = base % modulus
    while exponent > 0:
        if exponent % 2 == 1:
            result = (result * base) % modulus
        exponent = exponent // 2
        base = (base * base) % modulus
    return result

def rabin_miller_test(n):
    """Perform the Rabin-Miller test for a given n."""
    # Express n - 1 as u * 2^t where u is odd
    u = n - 1
    t = 0
    while u % 2 == 0:
        u //= 2
        t += 1

    Z_n_star = [b for b in range(2, n) if math.gcd(b, n) == 1]  # Candidates from Z*_n
    results = []  # To store results for each b
    b_39 =[]
    for b in Z_n_star:
        bn_minus_1_mod_n = square_and_multiply(b, n - 1, n)  # Compute b^(n-1) mod n
        theta = 0  # Initialize theta(b, n)

        # Compute b^u mod n
        b_u = square_and_multiply(b, u, n)
        if b_u == 1 or b_u == n - 1:
            theta = 0  # Directly passes the condition

        # Store all b_u_2^j mod n values
        b_u_2j_values = [b_u]  # Start with b^u mod n

        # Check the sequence of powers: b^(u * 2^j) for j in range(t)
        for j in range(t):
            b_u_2j = square_and_multiply(b, u * (2**j), n)
            b_u_2j_values.append(b_u_2j)  # Store b^(u * 2^j)

            b_u_2j_plus1 = square_and_multiply(b, u * (2**(j+1)), n)
            
            if b_u_2j_plus1 == 1 and b_u_2j != 1 and b_u_2j != n - 1:
                theta = 1  # Fails primality check
                break  # No need to check further, as the test failed

        # Append the results for b, including all b_u_2j values
        results.append({
            'b': b,
            'b^(n-1) mod n': bn_minus_1_mod_n,
            'θ(b, n)': theta,
            'b_u_2j_values': b_u_2j_values
        })
        if b_u_2j_values[-1]==1 or b_u_2j_values[-1]==n-1:
            b_39.append(b)
    return results,b_39

# Example usage:
n = 39  # You can replace this with any integer n
results,b_39 = rabin_miller_test(n)

# Convert results to a DataFrame
df = pd.DataFrame(results)
print(b_39)
# Display the DataFrame (for Jupyter Notebook)
from IPython.display import display
display(df)

[38]

     b  b^(n-1) mod n  θ(b, n) b_u_2j_values
0    2              4        0      [11, 11]
1    4             16        0        [4, 4]
2    5             25        0        [8, 8]
3    7             10        0      [19, 19]
4    8             25        0        [5, 5]
5   10             22        0      [10, 10]
6   11              4        0        [2, 2]
7   14              1        1      [14, 14]
8   16             22        0      [16, 16]
9   17             16        0      [17, 17]
10  19             10        0        [7, 7]
11  20             10        0      [32, 32]
12  22             16        0      [22, 22]
13  23             22        0      [23, 23]
14  25              1        1      [25, 25]
15  28              4        0      [37, 37]
16  29             22        0      [29, 29]
17  31             25        0      [34, 34]
18  32             10        0      [20, 20]
19  34             25        0      [31, 31]
20  35             16        0      [35, 35]
21  37              4        0      [28, 28]
22  38              1        0      [38, 38]

In [259]:
494%55

54

In [265]:
import math

def square_and_multiply(base, exponent, modulus):
    """Efficiently compute base^exponent % modulus using square-and-multiply method."""
    result = 1
    base = base % modulus
    while exponent > 0:
        if exponent % 2 == 1:
            result = (result * base) % modulus
        exponent = exponent // 2
        base = (base * base) % modulus
    return result

def modular_inverse(a, m):
    """Compute the modular inverse of a mod m using the extended Euclidean algorithm."""
    m0, x0, x1 = m, 0, 1
    if m == 1:
        return 0
    while a > 1:
        q = a // m
        m, a = a % m, m
        x0, x1 = x1 - q * x0, x0
    if x1 < 0:
        x1 += m0
    return x1

def modular_sqrt(a, p):
    """Compute a^1/2 mod p using Tonelli-Shanks algorithm (if p ≡ 3 mod 4)."""
    # If p ≡ 3 (mod 4), we can use a simple method to compute square root mod p
    if p % 4 == 3:
        return square_and_multiply(a, (p + 1) // 4, p)
    else:
        raise NotImplementedError("Tonelli-Shanks algorithm for general primes is not implemented here.")

def compute_a_half_mod_pq(a, p, q):
    """Compute a^1/2 mod pq using the Chinese Remainder Theorem."""
    # Step 1: Find x1 = a^1/2 mod p
    x1 = [1, p-1]
    
    # Step 2: Find x2 = a^1/2 mod q
    x2 = [1,q-1]
    
    # Step 3: Use CRT to combine the results
    # Compute q_inverse = q^(-1) mod p and p_inverse = p^(-1) mod q
    q_inverse = modular_inverse(q, p)
    p_inverse = modular_inverse(p, q)
    
    result=[]
    
    # Now combine using the CRT formula:
    n = p * q
    for i in x2:
        for j in x1:
            r = (j * q * q_inverse + i * p * p_inverse) % n
            result.append(r)
    
    return result

# Example usage:
a = 1  # The number for which we want to compute a^1/2 mod pq
p = 5  # First prime
q = 11  # Second prime

result = compute_a_half_mod_pq(a, p, q)
print(f"a^(1/2) mod pq = {result}")

a^(1/2) mod pq = [1, 34, 21, 54]